<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2011 Jo-Philipp Wich <jow@openwrt.org>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local fs = require "nixio.fs"
	local util = require "luci.util"
	local nodes = require "luci.controller.admin.nodes"
	local ver = require "luci.version"
-%>

<%+header%>

<script type="text/javascript" src="<%=resource%>/cbi.js?v=git-16.358.28306-df0d765"></script>
<script type="text/javascript">//<![CDATA[
	function wifirate(bss, rx) {
		var p = rx ? 'rx_' : 'tx_',
		    s = '%.1f <%:Mbit/s%>, %d<%:MHz%>'
					.format(bss[p+'rate'] / 1000, bss[p+'mhz']),
		    ht = bss[p+'ht'], vht = bss[p+'vht'],
			mhz = bss[p+'mhz'], nss = bss[p+'nss'],
			mcs = bss[p+'mcs'], sgi = bss[p+'short_gi'];

		if (ht || vht) {
			if (vht) s += ', VHT-MCS %d'.format(mcs);
			if (nss) s += ', VHT-NSS %d'.format(nss);
			if (ht)  s += ', MCS %s'.format(mcs);
			if (sgi) s += ', <%:Short GI%>';
		}

		return s;
	}
	
	var node;
		XHR.poll(5, '<%=url('wifinodes')%>', null,
		function(x, data)
		{
			var ls = document.getElementById('node_count');
			if (ls)
			{
				ls.innerHTML = data.count;
			}
			
			var ls = document.getElementById('node_table');
			if (data.nodes && ls)
			{
				var rows = [];
				
				data.nodes.forEach(function(node) {
					var icon;
					var q = (-1 * (node.noise - node.signal)) / 5;
					if (q < 1)
						icon = "<%=resource%>/icons/signal-0.png";
					else if (q < 2)
						icon = "<%=resource%>/icons/signal-0-25.png";
					else if (q < 3)
						icon = "<%=resource%>/icons/signal-25-50.png";
					else if (q < 4)
						icon = "<%=resource%>/icons/signal-50-75.png";
					else
						icon = "<%=resource%>/icons/signal-75-100.png";
						
					var address = '?';
					if(node.ipv4 && node.ipv6){
						address = '<a href="http://%h" target="_blank">%h</a><br/>%h'.format(node.ipv4, node.ipv4, node.ipv6);
					}else if (node.ipv4 || node.ipv6){
						address = '<a href="http://%h" target="_blank">%h</a>'.format(node.ipv4 || node.ipv6, node.ipv4 || node.ipv6);
					}
					rows.push([
						rows.length+1,
						node.host, //Hostname
						address, //Address
						node.mac, //MAC-Address					
						String.format(
						'<span class="ifacebadge" title="<%:Signal%>: %d <%:dBm%> / <%:Noise%>: %d <%:dBm%> / <%:SNR%>: %d"><img src="%s" /> %d / %d <%:dBm%></span>',
						node.signal, node.noise, node.signal - node.noise,
						icon,
						node.signal, node.noise
						), //Signal					
						E('span', {}, [
							E('span', wifirate(node, true)),
							E('br'),
							E('span', wifirate(node, false))
						]) //RX Rate
					]);
				});
				
				cbi_update_table(ls, rows, '<em><%:There are no connected nodes.%></em>');
			}
		}
	);
//]]></script>

<h2 name="content"><%:gZ WiFi Node Table%><span style="float:right"><%:# of nodes%>: <span id="node_count">0</span></span></h2>

<fieldset class="cbi-section">
	<div class="table" id="node_table">
		<div class="tr table-titles">
			<div class="th nowrap">#</div>
			<div class="th nowrap"><%:Hostname%></div>
			<div class="th nowrap"><%:Address%></div>
			<div class="th nowrap"><%:MAC-Address%></div>
			<div class="th nowrap"><%:Signal%> / <%:Noise%></div>
			<div class="th nowrap"><%:RX Rate%> / <%:TX Rate%></div>
		</div>
		<div class="tr placeholder">
			<div class="td"><em><%:Collecting data...%></em></div>
		</div>
	</div>
</fieldset>
<%+footer%>