<%
local util = require "luci.util"
local boardinfo = util.ubus("system", "board")
%>
<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%=striptags( boardinfo.hostname or "?") %> - __TITLE__</title>
    <link href="<%=media%>/cascade.css?__TIME__" rel="stylesheet">
	<link rel="shortcut icon" href="<%=media%>/favicon.ico?__TIME__">
	<link rel="stylesheet" type="text/css" href="<%=media%>/dashboard.css?__TIME__">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<%
	local has_wifi = false
	
	local uci = require("luci.model.uci").cursor()
	uci:foreach("wireless", "wifi-device", function(s)
		has_wifi = true
		return false
	end)

	local conf = require "luci.config"
	local http = require "luci.http"
	local lang = conf.main.lang or "auto"
	if lang == "auto" then
		local aclang = http.getenv("HTTP_ACCEPT_LANGUAGE") or ""
		for lpat in aclang:gmatch("[%w-]+") do
			lpat = lpat and lpat:gsub("-", "_")
			if conf.languages[lpat] then
				lang = lpat
				break
			end
		end
	end	
	%>
<script type="text/javascript">
function language() {
	var ids = new Array("settings",		"statistics",	"updates",		"dashboard",		"network","switch","admin","multi-user","reboot", "logout");
	var en = new Array("Settings",		"Statistics",	"Updates",		"Dashboard",		"Network", "Switch", "Access", "Multi User", "Reboot", "Logout");
	var es = new Array("Configuración",	"Estadísticas",	"Actualizaciones",	"Estado",		"Red", "Switch", "Acceso", "Usuarios", "Reiniciar","Salir");
	var de = new Array("Einstellungen",	"Statistiken",	"Aktualisierung",	"Status",		"Netzwerk","Switch","Zugriff","Multi User","Neustart", "Abmelden");
	var fr = new Array("Paramètres",	"Statistiques",	"Mises à jour",		"Tableau de bord",	"Réseau","Switch","Accès","Multi-utilisateurs", "Reboot", "Se déconnecter");
	var it = new Array("Impostazioni",	"Statistica",	"Aggiornamenti",	"Cruscotto","Rete",	"Switch","Accesso","Multi utente","Riavvio", "Disconnettersi");
	var lang = "<%=lang%>";
	function changeText(strings)
	{
		for (var i=0; i<ids.length; i++) {
			var ele = document.getElementById(ids[i]);
			if(ele){
				ele.innerHTML = strings[i];
			}
		}
	}
	
	if (lang == "it") {
		changeText(it);
	} else if (lang == "de" ) {
		changeText(de);
	} else if (lang == "fr" ) {
		changeText(fr);
	} else if (lang == "es" ) {
		changeText(es);
	} else {
		changeText(en);
	}
}
window.onload=language;
</script>
</head>
<body>
<%
local disp = require "luci.dispatcher"
local json = require "luci.jsonc"
	local cattree  = disp.node("admin")
	local fs = require "nixio.fs"
	local isroot = luci.dispatcher.context.authuser == "root"
	
	local function nodeurl(prefix, name, query)
		local u = url(prefix, name)
		if query then
			u = u .. http.build_querystring(query)
		end
		return pcdata(u)
	end	

	local menu={}
	
	menu["status_dashboard"] = false
	menu["system_leds"] = false
	menu["system_packages"] = false
	menu["status_iptables"] = true
	menu["status_routes"] = "root"
	menu["status_syslog"] = "root"
	menu["status_dmesg"] = "root"
	menu["status_processes"] = "root"
	menu["system_startup"] = "root"
	menu["system_crontab"] = "root"
	menu["system_fstab"] = "root"
	menu["network_routes"] = "root"
	menu["network_diagnostics"] = "root"
	menu["system_system"] = {color = "one"} -- Configuración
	menu["network_qos"] = {color = "five"}
	menu["status_overview"] = {color = "four"} -- Dashboard
	menu["services_samba"] = {color = "five"}
	menu["status_realtime"] = {color = "two"} -- Statistics
	menu["network_wireless"] = {color = "five"} -- WiFi
	menu["network_vlan"] = {color = "five"} -- Switch
	menu["network_network"] = {color = "five"} -- Network
	menu["system_admin"] = {color = "seven"} -- Admin
	menu["users_users"] = {color = "seven"} -- Multi User
	menu["users_passwd"] = {color = "seven"} -- Admin
	menu["system_flashops"] = {color = "three"} -- Updates
	menu["system_reboot"] = {color = "seven"} -- Reboot
	menu["logout"] = {color = ""} -- Logout
	
	local function get_menu (val)
		for key, value in pairs (menu) do
			if key == val then
				return value
			end		
		end
		return true
	end
	
	local function write_box(title, url, name)
		local menu = get_menu(name)		
		--write("\nwrite_box " .. name .. " => " .. json.stringify(menu) .. "\t\t");	
		if menu == false then
			return
		end
		
		if menu == "root" and not isroot then
		--if menu == "root" then
			return
		end
		
		color = "six"
		if menu ~= true and menu.color then
			color = menu.color
		end
	
		write("<li data-row=\"1\" data-col=\"1\" data-sizex=\"2\" data-sizey=\"2\">")
		write("<a class=\"grid-inner color-".. color .."\" href=\"" .. url .. "\">")
		write("<img src=\"" .. media .."/images/" .. name .. ".png\" alt=\"" .. name .. "\" />")
		write('<span>' .. pcdata(striptags(translate(title))) .. '</span>')
		write('</a>')
		write('</li>')
	end
	
	local function get_menu(prefix, node)
		local childs = disp.node_childs(node)			
		if #childs > 0 then
			for index, name in ipairs(childs) do
				local current = node.nodes[name]				
				if current then
					local currentchilds = disp.node_childs(current)
					if #currentchilds > 0 then
						for index, subname in ipairs(currentchilds) do
							local current = current.nodes[subname]
							--write("\n\n"..name .. " => " .. nodeurl(prefix, name, current.query) .. "\n")
							write_box(current.title, nodeurl(prefix .. '/' .. name, subname, current.query), name .. "_" .. subname);
						end
					else
						--write("\n\n"..name .. " => " .. nodeurl(prefix, name, current.query) .. "\n")
						write_box(current.title, nodeurl(prefix, name, current.query), name);
					end
				end
			end
		end
	end
%>
<div class="main-section">
	<div class="login-section">
		<div class="container-main grids-container">
			<div class="logo">
				<img src="<%=media%>/images/logo.png?__TIME__" alt="">
			</div>
			<div class="gridster">
			    <ul>
				<% get_menu("admin", cattree) %>
 			      <!--
				  <li data-row="1" data-col="7" data-sizex="2" data-sizey="2">
				    <a href="https://192.168.20.222/" target="_blank">
				      	<div class="grid-inner color-four">
						<img src="<%=media%>/images/home.png" alt="">
				      		<div class="grip-text">
				      			<p id="home-automation">Home Automation</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
			      <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
 			      	<a href="#">
				      	<div class="grid-inner">
						<img src="<%=media%>/images/camera.png" alt="">
				      		<div class="grip-text">
				      			<p>Camera</p>
				      		</div>
				      	</div>
			      	</a> 
			      </li>
			      <li data-row="2" data-col="2" data-sizex="2" data-sizey="4">
				      <a href="/mycloud">
				      	<div class="grid-inner color-two">
						<img src="<%=media%>/images/cloud.png" alt="">
				      		<div class="grip-text">
				      			<p id="cloud-service">Cloud Services</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
 			      <li data-row="3" data-col="4" data-sizex="2" data-sizey="1">
			      	<div class="grid-inner small-grid color-four">
			      		<div class="search-form">
			      			<form>
							<input type="image" src="<%=media%>/images/search.png" alt="search">
			      				<input type="text" >
			      			</form>
			      		</div>
			      		<div class="grip-text">
			      			<p id="search">Search</p>
			      		</div>
			      	</div>
			      </li>
			      <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
			      	<a href="#">
				      	<div class="grid-inner small-grid color-five">
						<img src="<%=media%>/images/help.png" alt="">
				      		<div class="grip-text">
				      			<p id="help">Help</p>
				      		</div>
				      	</div>
			      	</a>
			      </li>
				  -->
			    </ul>
			</div>
		</div>
	</div>
</div>
	<footer class="mobile-hide">__FOOTER_TEXT__</footer>
<script type="text/javascript" src="<%=media%>/js/jquery.min.js"></script>
<script type="text/javascript" src="<%=media%>/js/jquery.selectBox.js"></script>
<script type="text/javascript" src="<%=media%>/js/gridstar.js"></script>
<script type="text/javascript" src="<%=media%>/js/dashboard.js?__TIME__"></script>
</body>
</html>
