/**
 *  Material is a clean HTML5 theme for LuCI. It is based on luci-theme-bootstrap and MUI
 *
 *  luci-theme-material
 *      Copyright 2015 Lutty Yang <lutty@wcan.in>
 *
 *  Have a bug? Please create an issue here on GitHub!
 *      https://github.com/LuttyYang/luci-theme-material/issues
 *
 *  luci-theme-bootstrap:
 *      Copyright 2008 Steven Barth <steven@midlink.org>
 *      Copyright 2008 Jo-Philipp Wich <jow@openwrt.org>
 *      Copyright 2012 David Menting <david@nut-bolt.nl>
 *
 *  MUI:
 *      https://github.com/muicss/mui
 *
 *  Licensed to the public under the Apache License 2.0
 */

/*
 *  Font generate by Icomoon<icomoon.io>
 */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/font.eot');
    src: url('fonts/font.eot') format('embedded-opentype'),
    url('fonts/font.ttf') format('truetype'),
    url('fonts/font.woff') format('woff'),
    url('fonts/font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.table { display: table; position: relative; }
.tr    { display: table-row; }
.thead { display: table-header-group; }
.tbody { display: table-row-group; }
.tfoot { display: table-footer-group; }
.td, .th {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: .5em;
}

.th {
    font-weight: bold;
}

.tr.placeholder {
    height: 4em;
}

.tr.placeholder > .td {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 3em;
    background: inherit;
}

.table[width="33%"], .th[width="33%"], .td[width="33%"] { width: 33%; }
.table[width="100%"], .th[width="100%"], .td[width="100%"] { width: 100%; }

.col-1 { flex: 1 1 30px !important; -webkit-flex: 1 1 30px !important; }
.col-2 { flex: 2 2 60px !important; -webkit-flex: 2 2 60px !important; }
.col-3 { flex: 3 3 90px !important; -webkit-flex: 3 3 90px !important; }
.col-4 { flex: 4 4 120px !important; -webkit-flex: 4 4 120px !important; }
.col-5 { flex: 5 5 150px !important; -webkit-flex: 5 5 150px !important; }
.col-6 { flex: 6 6 180px !important; -webkit-flex: 6 6 180px !important; }
.col-7 { flex: 7 7 210px !important; -webkit-flex: 7 7 210px !important; }
.col-8 { flex: 8 8 240px !important; -webkit-flex: 8 8 240px !important; }
.col-9 { flex: 9 9 270px !important; -webkit-flex: 9 9 270px !important; }
.col-10 { flex: 10 10 300px !important; -webkit-flex: 10 10 300px !important; }

.cbi-button-up,
.cbi-button-down,
.cbi-value-helpicon,
.showSide,
.main > .loading > span {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 0.8rem;
    background-color: #EEE;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Microsoft Yahei, WenQuanYi Micro Hei, sans-serif, "Helvetica Neue", Helvetica, Hiragino Sans GB;
}

body{
	background-image: url(images/background.jpg?__TIME__);
	background-size: cover;
	background-attachment: fixed;
}

select {
    padding: 0.36rem 0.8rem;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

select,
input,
.cbi-dropdown {
    background-color: transparent;
    color: rgba(0, 0, 0, .87);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .26);
    outline: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    background-image: none;
    height: 1.8rem;
    font-size: 0.8rem;
}

select:not([multiple="multiple"]):focus,
input:focus {
    border-color: #0099CC;
}

select[multiple="multiple"] {
    height: auto;
}

code {
    color: #0099CC;
}

abbr {
    color: #005470;
    text-decoration: underline;
    cursor: help;
}

hr {
    margin: 1rem 0;
    border-color: #EEE;
    opacity: 0.1;
}

header, .main {
    width: 100%;
    position: absolute;
}

header {
    height: 4rem;
	line-height: 4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    transition: box-shadow .2s;
    top: 0;
    position: fixed;
    z-index: 2000;
	padding: 0 1rem;
}

footer {
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    color: #555;
    font-size: 0.9rem;
    text-shadow: 0px 0px 2px #BBB;
}

footer > a {
    color: #aaa;
    text-decoration: none;
}

.main {
    top: 4rem;
    bottom: 0;
    position: absolute;
	overflow: auto;
}

.main > .loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: block;
    background-color: rgb(240, 240, 240);
    top: 0;
}

.main > .loading > span {
    display: block;
    text-align: center;
    margin-top: 2rem;
    color: #888;
    font-size: 1.2rem;
}

.main > .loading > span > .loading-img:before {
    content: "\e603";
}

.main > .loading > span > .loading-img {
    animation: anim-rotate 2s infinite linear;
    margin-right: 0.2rem;
    display: inline-block;
}

@keyframes anim-rotate {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.main-left {
    float: left;
    top: 4rem;
    width: 15%;
    width: calc(0% + 15rem);
    height: 100%;
    height: calc(100% - 4rem);
    background-color: white;
    overflow-x: auto;
    position: fixed;
}

.main-right {
	min-height: 100%;
}

.main-right > #maincontent {
    min-height: 100%;
    position: relative;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

header {
    background: #0099CC;
    color: white;
}

header > .container {
    overflow: hidden;
    height: 100%;
    position: relative;
}

header > .container > .brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    cursor: default;
    vertical-align: middle;
	display: inline-block;
    height: 100%;
}
header > .container > .brand > img{
    max-height: 100%;
    vertical-align: middle;
	max-width: 200px;
}
.danger {
    background-color: #FA8072 !important;
    color: black;
}

.warning {
    background-color:  #F0E68C !important;
    color: black;
}

.success {
    background-color: #90EE90 !important;
    color: black;
}

.alert-message {
    margin: 2rem 0 0 0;
    padding: 1rem;
    border: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    overflow: auto;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}

.error {
    color: red;
}

.alert-message > h4 {
    font-weight: bold;
    font-size: 110%;
}

.alert-message > * {
    margin: .5rem 0;
}

#maincontent > .container > div:nth-child(1).alert-message.warning > a {
    font: inherit;
    overflow: visible;
    text-transform: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    min-width: 6rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 1.42857143;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    margin-top: 2rem;
    text-decoration: inherit;
}

.main > .main-left > .nav {
    margin-top: 0.5rem;
}

.main > .main-left > .nav > li a {
    color: #404040;
    display: block;
}

.main > .main-left > .nav > li:nth-last-child(1) {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.main > .main-left > .nav > li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.main > .main-left > .nav > .slide {
    padding: 0;
}

.main > .main-left > .nav > .slide > ul {
    display: none;
}

.main > .main-left > .nav > .slide > .menu {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: default;
    font-size: 1.15rem;
}

.main > .main-left > .nav > li:hover,
.main > .main-left > .nav > .slide > .menu:hover {
    background: #D4D4D4;
}

.main > .main-left > .nav > .slide:hover {
    background: none;
}

.main > .main-left > .nav > .slide > .slide-menu > li {
    padding: 0.4rem 2rem;
}

.main > .main-left > .nav > .slide > .slide-menu > .active {
    background-color: #0099CC;
}

.main > .main-left > .nav > .slide > .slide-menu > li > a {
    text-decoration: none;
    white-space: nowrap;
}

.main > .main-left > .nav > .slide > .slide-menu > .active > a {
    color: white;
}

.main > .main-left > .nav > .slide > .slide-menu > li:hover {
    background: #D4D4D4;
}

.main > .main-left > .nav > .slide > .slide-menu > .active:hover {
    background-color: #0099CC;
    cursor: hand;
}

li {
    list-style-type: none;
}

#maincontent > .container {
    margin: 0 2rem 1rem 2rem;
}

h1 {
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

h2 {
    margin: 2rem 0 0 0;
    font-size: 1.8rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

h3 {
    margin: 2rem 0 0 0;
    font-size: 1.4rem;
    padding-bottom: 10px;
}

h4 {
    margin: 2rem 0 0 0;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

.cbi-section {
    margin: 1rem 0 0 0;
    padding: 2rem;
    border: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    font-family: inherit;
    min-width: inherit;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);

    -webkit-overflow-scrolling: touch;
}

.cbi-map-descr + fieldset {
    margin-top: 1rem;
}

.cbi-section > legend {
    display: none !important;
}

fieldset > fieldset {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.cbi-section > h3:first-child,
.panel-title {
    width: 100%;
    display: block;
    line-height: 1;
    color: #404040;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    margin: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table, .table {
    width: 100%;
    border: 1px solid #eee;
}

table > tbody > tr > td, table > tbody > tr > th, table > tfoot > tr > td, table > tfoot > tr > th, table > thead > tr > td, table > thead > tr > th,
.table > .tbody > .tr > .td, .table > .tbody > .tr > .th, .table > .tfoot > .tr > .td, .table > .tfoot > .tr > .th, .table > .thead > .tr > .td, .table > .thead > .tr > .th {
    padding: .5rem;
    border-top: 1px solid #ddd;
    white-space: nowrap;
}

.cbi-section-table-cell {
    white-space: nowrap;
    align-self: flex-end;
    flex: 1 1 auto;
}

.cbi-section-table {
    border: none;
}

.cbi-section-table-row {
    text-align: center;
    margin-bottom: 1rem;
    background: #f4f4f4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}

.cbi-section-table-row:last-child {
    margin-bottom: 0;
}

.cbi-section-table-row > .cbi-value-field .cbi-input-select,
.cbi-section-table-row > .cbi-value-field .cbi-input-text,
.cbi-section-table-row > .cbi-value-field .cbi-input-password,
.cbi-section-table-row > .cbi-value-field .cbi-dropdown {
    width: 100%;
}

.cbi-section-table-row > .cbi-value-field [data-dynlist] > input,
.cbi-section-table-row > .cbi-value-field input.cbi-input-password {
    width: calc(100% - 1.5rem);
}

div > table > tbody > tr:nth-of-type(2n),
div > .table > .tbody > .tr:nth-of-type(2n) {
    background-color: #f9f9f9;
}

div > table > tbody > tr:nth-of-type(2n),
div > .table > .tbody > .tr:nth-of-type(2n) {
    background-color: #f9f9f9;
}

/* fix progress bar */
#swaptotal > div,
#swapfree > div,
#memfree > div,
#membuff > div,
#conns > div,
#memtotal > div {
    width: 100% !important;
    height: 1.4rem !important;
	background-color: #fff !important;
	max-width: 100% !important;
	height: auto !important;
}

#swaptotal > div > div,
#swapfree > div > div,
#memfree > div > div,
#membuff > div > div,
#conns > div > div,
#memtotal > div > div {
    height: 100% !important;
    background-color: #be1d49 !important;
	height: 22px !important;
    line-height: 22px;
}
#memfree small,
#membuff small,
#conns small,
#memtotal small {
    color: #bbb !important;
	line-height: 22px; */
}

/* fix multiple table */

table table,
.table .table {
    border: none;
}

.cbi-value-field table,
.cbi-value-field .table {
    border: none;
}

td > table > tbody > tr > td,
.td > .table > .tbody > .tr > .td {
    border: none;
}

.cbi-value-field > table > tbody > tr > td,
.cbi-value-field > .table > .tbody > .tr > .td {
    border: none;
}

/* button style */

.btn, .cbi-button {
    -webkit-appearance: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    background-color: #F0F0F0;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.8rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0.8rem;
    width: auto !important;
    display: inline-block;
    text-decoration: none;
}

.btn:hover,
.btn:focus,
.btn:active,
.cbi-button:hover,
.cbi-button:focus,
.cbi-button:active,
.cbi-page-actions .cbi-button-apply + .cbi-button-save:hover,
.cbi-page-actions .cbi-button-apply + .cbi-button-save:focus,
.cbi-page-actions .cbi-button-apply + .cbi-button-save:active {
    outline: 0;
    text-decoration: none;
    background-color: rgba(250, 250, 250, 0.7);
}

.btn:hover,
.btn:focus,
.cbi-button:hover,
.cbi-button:focus {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.btn:active,
.cbi-button:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn:disabled,
.cbi-button:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.60;
    box-shadow: none;
}

.cbi-page-actions .cbi-button-apply,
.cbi-section-actions .cbi-button-edit,
.cbi-button-edit.important,
.cbi-button-apply.important,
.cbi-button-reload.important,
.cbi-button-action.important {
    color: #fff;
    background-color: #337ab7;
}

.cbi-page-actions .cbi-button-save,
.cbi-button-add.important,
.cbi-button-save.important,
.cbi-button-positive.important {
    color: #fff;
    background-color: #5bc0de;
}

.cbi-button-remove.important,
.cbi-button-reset.important,
.cbi-button-negative.important {
    color: #fff;
    background-color: #d9534f;
}

.cbi-button-find,
.cbi-button-link,
.cbi-button-up,
.cbi-button-down,
.cbi-button-neutral {
    border: 1px solid #bfbfbf;
    background-color: transparent;
}

.cbi-button-edit,
.cbi-button-apply,
.cbi-button-reload,
.cbi-button-action {
    color: #2e6da4;
    border: 1px solid #2e6da4;
    background-color: transparent;
}

.cbi-page-actions .cbi-button-apply + .cbi-button-save,
.cbi-button-add,
.cbi-button-save,
.cbi-button-positive {
    color: #46b8da;
    border: 1px solid #46b8da;
    background-color: transparent;
}

.cbi-section-remove > .cbi-button,
.cbi-button-remove,
.cbi-button-reset,
.cbi-button-negative {
    color: #d43f3a;
    border: 1px solid #d43f3a;
    background-color: transparent;
}

.cbi-page-actions .cbi-button-link:first-child {
    float: left;
}

.a-to-btn {
    text-decoration: none;
}

/* table */

.tabs {
    margin: 0 -2rem;
    padding-left: 0.5rem;
    background-color: #FFFFFF;
}

.cbi-tabmenu > li,
.tabs > li {
    display: inline-block;
    padding: 0.6rem 0rem;
}

.cbi-tabmenu > li > a,
.tabs > li > a {
    text-decoration: none;
    color: #404040;
    padding: 0.5rem 0.8rem;
}

.tabs > li[class~="active"],
.tabs > li:hover {
    cursor: pointer;
    border-bottom: 0.2rem solid #0099CC;
    color: #0099CC;
    margin-bottom: -0.18751rem;
}

.tabs > li[class~="active"] > a {
    color: #0099cc;
}

.tabs > li:hover {
    border-bottom: 0.18751rem solid #C9C9C9;
}

.cbi-tabmenu {
    border-top: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
}

.cbi-tabmenu > li:hover {
    background-color: #F1F1F1;
}

.cbi-tabmenu > li[class~="cbi-tab"] {
    background-color: white;
}

.cbi-tabmenu {
    background-color: #D4D4D4;
}

.cbi-section-remove:nth-of-type(2n),
.cbi-section-node:nth-of-type(2n){
    background-color: #f9f9f9;
}

.cbi-section-node-tabbed {
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
}

.cbi-tabcontainer > .cbi-value:nth-of-type(2n) {
    background-color: #f9f9f9;
}

.cbi-value-field,
.cbi-value-description {
    display: table-cell;
    line-height: 1.25;
}

.cbi-value-helpicon > img {
    display: none;
}

.cbi-value-helpicon:before {
    content: "\f059";
}

.cbi-value-description {
    font-size: small;
    opacity: 0.5;
    padding: 0.5rem 0 0 0;
}

.cbi-value-title {
    word-wrap: break-word;
    padding-top: 0.6rem;
    width: 23rem;
    float: left;
    text-align: right;
    padding-right: 2rem;
    display: table-cell;
}

.cbi-value {
    padding: 0.3rem 1rem;
    display: inline-block;
    width: 100%;
}

.cbi-section-table-descr > .cbi-section-table-cell,
.cbi-section-table-titles > .cbi-section-table-cell {
    border: none;
}

.td[data-title]::before {
    content: attr(data-title) ":\20";
    font-weight: bold;
    text-align: left;
    display: none;
    padding: .25rem 0;
    white-space: nowrap;
}

.tr.placeholder .td[data-title]::before {
    display: none;
}

.tr[data-title]::before,
.tr.cbi-section-table-titles.named::before {
    content: attr(data-title) "\20";
    font-weight: bold;
    text-align: center;
    display: table-cell;
    align-self: center;
    flex: 1 1 5%;
    padding: .25rem;
    white-space: normal;
    word-wrap: break-word;
    vertical-align: middle;
}

.cbi-rowstyle-1 {
    background-color: #f9f9f9;
}

.cbi-rowstyle-2 {
    background-color: #eee;
}

.cbi-rowstyle-2 .cbi-button-up,
.cbi-rowstyle-2 .cbi-button-down {
    background-color: #FFF !important;
}

.cbi-section-table .cbi-section-table-titles .cbi-section-table-cell {
    width: auto !important;
}

.td.cbi-section-actions {
    text-align: right;
    vertical-align: middle;
}

.td.cbi-section-actions > * {
    display: flex;
}

.td.cbi-section-actions > * > *,
.td.cbi-section-actions > * > form > * {
    flex: 1 1 4em;
    margin: 0 1px;
}

.td.cbi-section-actions > * > form {
    display: inline-flex;
    margin: 0;
}

/* desc */
.cbi-section-descr,
.cbi-map-descr {
    padding: 0.5rem;
    color: #999;
    font-size: small;
}


.cbi-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    padding: 0;
    height: auto;
}

.cbi-dropdown:focus {
    outline: 2px solid #4b6e9b;
}

.cbi-dropdown > ul {
    margin: 0 !important;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    width: 100%;
}

.cbi-dropdown > ul.preview {
    display: none;
}

.cbi-dropdown > .open {
    border: 2px outset #eee;
    flex-basis: 15px;
    background: #eee;
}

.cbi-dropdown > .open,
.cbi-dropdown > .more {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 2em;
    padding: 0 .25em;
}

.cbi-dropdown > .more,
.cbi-dropdown > ul > li[placeholder] {
    color: #777;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fff;
    display: none;
}

.cbi-dropdown > ul > li {
    display: none;
    padding: .25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    align-self: center;
    min-height: 20px;
}

.cbi-dropdown > ul > li .hide-open { display: initial; }
.cbi-dropdown > ul > li .hide-close { display: none; }

.cbi-dropdown > ul > li[display]:not([display="0"]) {
    border-left: 1px solid #ccc;
}

.cbi-dropdown[empty] > ul {
    max-width: 1px;
}

.cbi-dropdown > ul > li > form {
    display: none;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.cbi-dropdown > ul > li img {
    vertical-align: middle;
    margin-right: .25em;
}

.cbi-dropdown > ul > li > form > input[type="checkbox"] {
    margin: 0;
    height: auto;
}

.cbi-dropdown > ul > li input[type="text"] {
    height: 20px;
}

.cbi-dropdown[open] {
    position: relative;
}

.cbi-dropdown[open] > ul.dropdown {
    display: block;
    background: #f6f6f5;
    border: 1px solid #918e8c;
    box-shadow: 0 0 4px #918e8c;
    position: absolute;
    z-index: 1000;
    max-width: none;
    min-width: 100%;
    width: auto;
}

.cbi-dropdown > ul > li[display],
.cbi-dropdown[open] > ul.preview,
.cbi-dropdown[open] > ul.dropdown > li,
.cbi-dropdown[multiple] > ul > li > label,
.cbi-dropdown[multiple][open] > ul.dropdown > li,
.cbi-dropdown[multiple][more] > .more,
.cbi-dropdown[multiple][empty] > .more {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.cbi-dropdown[empty] > ul > li,
.cbi-dropdown[optional][open] > ul.dropdown > li[placeholder],
.cbi-dropdown[multiple][open] > ul.dropdown > li > form {
    display: block;
}

.cbi-dropdown[open] > ul.dropdown > li .hide-open { display: none; }
.cbi-dropdown[open] > ul.dropdown > li .hide-close { display: initial; }

.cbi-dropdown[open] > ul.dropdown > li {
    border-bottom: 1px solid #ccc;
}

.cbi-dropdown[open] > ul.dropdown > li[selected] {
    background: #b0d0f0;
}

.cbi-dropdown[open] > ul.dropdown > li.focus {
    background: linear-gradient(90deg, #a3c2e8 0%, #84aad9 100%);
}

.cbi-dropdown[open] > ul.dropdown > li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.cbi-dropdown[disabled] {
    pointer-events: none;
    opacity: .6;
}

.cbi-dropdown .zonebadge {
    width: 100%;
}

.cbi-dropdown[open] .zonebadge {
    width: auto;
}


/* luci */

.hidden {
    display: none
}

.left, .left::before {
    text-align: left !important;
}

.right, .right::before {
    text-align: right !important;
}

.center, .center::before {
    text-align: center !important;
}

.top {
    align-self: flex-start !important;
    vertical-align: top !important;
}

.bottom {
    align-self: flex-end !important;
    vertical-align: bottom !important;
}

.inline {
    display: inline;
}

.cbi-page-actions {
    border-top: 1px solid #eee;
    padding-top: 1rem;
    text-align: right;
}

/* input */
.cbi-value input[type="password"],
.cbi-value input[type="text"] {
    min-width: 15rem;
}

/* select */
.cbi-value-field .cbi-dropdown {
    min-width: 15rem;
}

.cbi-value-field .cbi-input-select {
    width: 15rem;
}

.th[data-type="button"], .td[data-type="button"],
.th[data-type="fvalue"], .td[data-type="fvalue"] {
    flex: 1 1 2em;
    text-align: center;
}

.ifacebadge {
    display: inline-flex;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.5rem 1rem;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #fff;
}

td > .ifacebadge,
.td > .ifacebadge {
    background-color: #F0F0F0;
    font-size: 0.9rem;
}

.ifacebadge > em,
.ifacebadge > img {
    display: inline-block;
    margin: 0 .2rem;
    align-self: flex-start;
}

.ifacebadge > img + img {
    margin: 0 .2rem 0 0;
}

.network-status-table {
    display: flex;
    flex-wrap: wrap;
}

.network-status-table .ifacebox {
    margin: .5em;
    flex-grow: 1;
}

.network-status-table .ifacebox-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.network-status-table .ifacebox-body > span {
    flex: 10 10 auto;
}

.network-status-table .ifacebox-body > div {
    display: flex;
    flex-wrap: wrap;
}

.network-status-table .ifacebox-body .ifacebadge {
    flex: 1 1 auto;
    margin: .5em .25em 0 .25em;
    padding: .5em;
    min-width: 220px;
    background-color: #fff;
    align-items: center;
}

/*textarea*/

.cbi-input-textarea {
    width: 100%;
    min-height: 14rem;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

#syslog {
    width: 100%;
    min-height: 15rem;
    padding: 1rem;
    font-size: small;
    color: #5F5F5F;

    margin-bottom: 20px;
    border-radius: 0;
    background-color: #FFF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    border: none;
}

/* change */

.uci-change-list {
    font-family: monospace;
}

.uci-change-list ins,
.uci-change-legend-label ins {
    text-decoration: none;
    border: 1px solid #00FF00;
    background-color: #CCFFCC;
    display: block;
    padding: 2px;
}

.uci-change-list del,
.uci-change-legend-label del {
    text-decoration: none;
    border: 1px solid #FF0000;
    background-color: #FFCCCC;
    display: block;
    font-style: normal;
    padding: 2px;
}

.uci-change-list var,
.uci-change-legend-label var {
    text-decoration: none;
    border: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    display: block;
    font-style: normal;
    padding: 2px;
}

.uci-change-list var ins,
.uci-change-list var del {
    border: none;
    white-space: pre;
    font-style: normal;
    padding: 0px;
}

.uci-change-legend {
    padding: 5px;
}

.uci-change-legend-label {
    width: 150px;
    float: left;
}

.uci-change-legend-label > ins,
.uci-change-legend-label > del,
.uci-change-legend-label > var {
    float: left;
    margin-right: 4px;
    width: 10px;
    height: 10px;
    display: block;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
    line-height: 6px;
    border: none;
}

.uci-change-list var,
.uci-change-list del,
.uci-change-list ins {
    padding: 0.5rem;
}

/* other fix */
#iwsvg,
#iwsvg2,
#bwsvg {
    border: 1px solid #D4D4D4 !important;
    border-top: none !important;
}

.ifacebox {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    display: inline-flex;
    flex-direction: column;
    line-height: 1.2em;
    min-width: 100px;
}

.ifacebox-head {
    padding: .25em;
    background: #eee;
}

.ifacebox-head.active {
    background: #90c0e0;
}

.ifacebox-body {
    padding: .25em;
}

.cbi-image-button {
    margin-left: 0.5rem;
}

.zonebadge {
    padding: 0.2rem 0.5rem;
    display: inline-block;
}

.zonebadge .ifacebadge {
    padding: .2rem .3rem;
    margin: 0.1rem 0.2rem;
    border: 1px solid #6C6C6C;
}

.zonebadge > input[type="text"] {
    padding: 0.16rem 1rem;
    min-width: 10rem;
    margin-top: 0.3rem;
}

.zonebadge > em,
.zonebadge > strong {
    margin: 0 0.2rem;
    display: inline-block;
}

.cbi-value-field .cbi-input-checkbox,
.cbi-value-field .cbi-input-radio {
    margin-top: 0.5rem;
    height: 1rem;
}

.td .cbi-input-checkbox,
.td .cbi-input-radio {
    margin-top: 0;
}

.cbi-value-field > input + .cbi-value-description {
    padding: 0;
}

.cbi-value-field > ul > li {
    display: flex;
}

.cbi-value-field > ul > li > label {
    margin-top: 0.5rem;
}

.cbi-value-field > ul > li .ifacebadge {
    background-color: #eee;
    margin-left: 0.4rem;
    margin-top: -0.5rem;
}

.cbi-section-table-row > .cbi-value-field .cbi-dropdown {
    min-width: 7rem;
}

.cbi-section-create {
    margin: .5rem -3px;
    display: inline-flex;
    align-items: center;
}

.cbi-section-create > * {
    margin: 0.5rem;
}

.cbi-section-remove {
    padding: 0.5rem;
}

div.cbi-value var, td.cbi-value-field var, .td.cbi-value-field var {
    font-style: italic;
    color: #0069D6;
}

small {
    font-size: 90%;
    white-space: normal;
    line-height: 1.42857143;
}

.cbi-button-up,
.cbi-button-down {
    display: inline-block;
    min-width: 0;
    padding: 0.2rem 0.3rem;
    font-size: 1.2rem;
}

.cbi-optionals {
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid #CCC;
}

.cbi-dropdown-container {
    position: relative;
}

.cbi-tooltip-container {
    cursor: help;
}

.cbi-tooltip {
    position: absolute;
    z-index: 1000;
    left: -1000px;
    opacity: 0;
    transition: opacity .25s ease-out;
    pointer-events: none;
    box-shadow: 0 0 2px #444;
}

.cbi-tooltip-container:hover .cbi-tooltip {
    left: auto;
    opacity: 1;
    transition: opacity .25s ease-in;
}

.zonebadge .cbi-tooltip {
    padding: .25rem;
    background: inherit;
    margin: -1.5rem 0 0 -.5rem;
}

.zonebadge-empty {
    background: repeating-linear-gradient(45deg,rgba(204,204,204,0.5),rgba(204,204,204,0.5) 5px,rgba(255,255,255,0.5) 5px,rgba(255,255,255,0.5) 10px);
    color: #404040;
}

.zone-forwards {
    display: flex;
    min-width: 10rem;
}

.zone-forwards > * {
    flex: 1 1 45%;
}

.zone-forwards > span {
    flex-basis: 10%;
    text-align: center;
    padding: 0 .25rem;
}

.zone-forwards .zone-src,
.zone-forwards .zone-dest {
    display: flex;
    flex-direction: column;
}

#diag-rc-output > pre {
    background-color: #f5f5f5;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 1.5rem;
    -moz-border-radius: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.4rem;
    color: #404040;
}

input[name="ping"],
input[name="traceroute"],
input[name="nslookup"] {
    width: 80%;
}

#xhr_poll_status > .label.success {
    background-color: #14CE14;
}

.label {
    padding: 0.3rem 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #ffffff !important;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
    text-decoration: none;
}

.notice {
    background-color: #5BC0DE;
}

.showSide {
    display: none;
}

.darkMask {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.56);
    content: "";
    z-index: 99;
    display: none;
}

/* fix Main Login*/
.login-container {
    padding: 0;
	max-width: 700px;
	margin: 0 auto !important;
	padding: 20px;
}
.login-container > .logo > img {
    max-width: 100%;
}

.login-container .alert-message{
	margin: 0 0 2rem 0;
}

/* fix status overview */

.node-status-overview > .main fieldset:nth-child(4) .td:nth-child(2) {
    white-space: normal;
}

/* fix status processes */

.node-status-processes > .main .table .tr .td:nth-child(3) {
    white-space: normal;
}

.node-status-iptables > .main div > .cbi-map > form {
    margin: 2rem 2rem 0 0;
}

/* fix system reboot */

.node-system-reboot > .main > .main-right p,
.node-system-reboot > .main > .main-right h3 {
    padding-left: 2rem;
}

/* fix Services  Network Shares*/
.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-title {
    margin-bottom: 1rem;
    width: auto;
}

.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-field {
    display: list-item;
}

.node-services-samba > .main .cbi-tabcontainer:nth-child(3) .cbi-value-description {
    padding-top: 1rem;
}

/* fix System Software*/
.node-system-packages > .main table tr td:nth-child(1) {
    width: auto !important;
}

.node-system-packages > .main table tr td:nth-last-child(1) {
    white-space: normal;
    font-size: small;
    color: #404040;
}

.node-system-packages > .main .cbi-tabmenu > li > a, .tabs > li > a {
    padding: 0.5rem 0.8rem;
}

.node-system-packages > .main .cbi-value > pre {
    background-color: #eee;
    padding: 0.5rem;
    overflow: auto;
}

.cbi-tabmenu + .cbi-section {
    margin-top: 0;
}

.node-status-iptables fieldset,
.node-system-packages fieldset,
.node-system-flashops fieldset {
    margin-top: 0;
}

.node-status-iptables .cbi-tabmenu,
.node-system-packages .cbi-tabmenu,
.node-system-flashops .cbi-tabmenu {
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
}

.node-system-flashops form.inline + form.inline {
    margin-left: 0;
}

#cbi-firewall-redirect table *,
#cbi-network-switch_vlan table *,
#cbi-firewall-zone table * {
    font-size: small;
}

#cbi-firewall-redirect table input[type="text"],
#cbi-network-switch_vlan table input[type="text"],
#cbi-firewall-zone table input[type="text"] {
    width: 5rem;
}

#cbi-firewall-redirect table select,
#cbi-network-switch_vlan table select,
#cbi-firewall-zone table select {
    min-width: 3.5rem;
}

#cbi-network-switch_vlan .th,
#cbi-network-switch_vlan .td {
    flex-basis: 12%;
}

/* language fix */
body.lang_pl.node-main-login .cbi-value-title {
    width: 12rem;
}

@media screen and (max-width: 1600px) {
    .main-left {
        width: calc(0% + 13rem);
    }

    .btn,
    .cbi-button {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
    }

    .label {
        padding: 0.2rem 0.6rem;
    }

    .cbi-value-title {
        width: 15rem;
        padding-right: 0.6rem;
    }

    fieldset {
        padding: 1rem;
    }

    .cbi-input-textarea {
        font-size: small;
    }

    .node-status-iptables > .main fieldset li > a {
        padding: 0.3rem 0.6rem;
    }
}

@media screen and (max-width: 1280px) {
    header {
        height: 3.5rem;
        line-height: 3.5rem;
    }

    .main {
        top: 3.5rem;
    }

    .main-left {
        width: calc(0% + 13rem);
        top: 3.5rem;
        height: calc(100% - 3.5rem);
    }

    .cbi-tabmenu > li > a, .tabs > li > a {
        padding: 0.2rem 0.5rem;
    }

    .panel-title {
        font-size: 1.1rem;
        padding-bottom: 1rem;
    }

    table {
        font-size: 0.7rem !important;
        width: 100% !important;
    }

    .main > .main-left > .nav > li,
    .main > .main-left > .nav > li a,
    .main > .main-left > .nav > .slide > .menu {
        font-size: 0.9rem;
    }

    .main > .main-left > .nav > .slide > .slide-menu > li > a {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 992px) {
    .main-left {
        width: 0;
        position: fixed;
        z-index: 100;
    }

    .node-main-login .showSide {
        display: none !important;
    }

    .cbi-value-title {
        width: 9rem;
        padding-right: 1rem;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div * {
        width: 100% !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div input[type="text"] {
        margin: 3rem 0 0 0 !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div:nth-child(4) input[type="text"] {
        margin: 0 !important;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div select,
    .node-network-diagnostics > .main .cbi-map fieldset > div input[type="button"] {
        margin: 1rem 0 0 0;
    }

    .node-network-diagnostics > .main .cbi-map fieldset > div {
        width: 100% !important;
    }

    #diag-rc-output > pre {
        font-size: 1rem;
    }

    .node-main-login > .main .cbi-value-title {
        text-align: left;
    }

    .tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .th, .td {
        flex: 2 2 25%;
        align-self: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: inline-block;
    }

    .td select,
    .td input[type="text"] {
        word-wrap: normal;
        width: 100%;
    }

    .td [data-dynlist] > input,
    .td input.cbi-input-password {
        width: calc(100% - 1.5rem);
    }

    .td[data-type="button"],
    .td[data-type="fvalue"] {
        flex: 1 1 12.5%;
        text-align: left;
    }

    .th.cbi-value-field,
    .td.cbi-value-field,
    .th.cbi-section-table-cell,
    .td.cbi-section-table-cell {
        flex-basis: auto;
    }

    .cbi-section-table-row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .td.cbi-value-field,
    .cbi-section-table-cell {
        text-align: center;
        display: inline-block;
        flex: 10 10 auto;
    }

    .td.cbi-section-actions {
        text-align: right;
        align-self: flex-end;
        vertical-align: bottom;
    }

    .tr.table-titles,
    .tr.cbi-section-table-titles,
    .tr.cbi-section-table-descr {
        display: none;
    }

    .tr[data-title]::before,
    .tr.cbi-section-table-titles.named::before {
        display: block;
        flex: 1 1 100%;
        background: #eef;
        font-size: .9rem;
        border-bottom: 1px solid rgba(0, 0, 0, .26);
    }

    .td[data-title] {
        text-align: left;
    }

    .td[data-title]::before {
        display: block;
    }

    .hide-sm,
    .hide-xs {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 1rem;
    }

    fieldset {
        padding: 1rem;
        margin: 1rem 0 0 0;
    }

    .tabs {
        margin: 0 -1rem;
    }

    #maincontent > .container {
        margin: 0 1rem 1.5rem 1rem;
    }

    .main > .main-left > .nav > .slide > .menu {
        font-size: 1.3rem;
    }

    .main > .main-left > .nav > .slide > .slide-menu > li > a {
        font-size: 1.1rem;
    }

    .cbi-value-title {
        width: 100%;
        min-width: 0rem !important;
        display: block;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .cbi-value-field, .cbi-value-description {
        width: 100%;
    }

    .cbi-value > .cbi-value-field {
        display: inline-block;
    }

    .cbi-tabmenu > li, .tabs > li {
        padding: 0.6rem 0rem;
    }

    .cbi-tabmenu > li > a, .tabs > li > a {
        padding: 0.2rem 0.3rem;
        font-size: 0.9rem;
    }

    .cbi-page-actions > div > input {
        display: none;
    }

    .node-main-login > .main .container {
        padding: 0.5rem 1rem 2rem 1rem;
    }

    .node-main-login > .main .cbi-value {
        padding: 0;
    }

    .node-main-login > .main form > div:nth-last-child(1) {
        margin-top: 2rem;
    }

    .node-main-login > .main .cbi-value-title {
        width: 100% !important;
        font-size: 1.2rem;
    }

    .node-main-login > .main fieldset {
        margin: 0;
        padding: 0.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .tabs > li > a {
        font-size: 0.9rem;
    }

    select,
    input {
        font-size: 0.9rem;
    }

    .mobile-hide {
        display: none;
    }

    .panel-title {
        font-size: 1.4rem;
        padding-bottom: 1rem;
    }

    .node-system-packages > .main .cbi-value.cbi-value-last > div {
        width: 100% !important;
    }

    .node-system-packages > .main .cbi-value .cbi-value-field input {
        width: 100%;
    }

    .node-status-iptables > .main div > .cbi-map > form {
        position: static !important;
        margin: 0 0 2rem 0;
        padding: 2rem;
        border: 0;
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        font-family: inherit;
        min-width: inherit;
        border-radius: 0;
        background-color: #FFF;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
        -webkit-overflow-scrolling: touch;
    }

    .node-status-iptables > .main div > .cbi-map > form input[type="submit"] {
        width: 100% !important;
        margin: 0;
    }

    .node-status-iptables > .main div > .cbi-map > form input[type="submit"] + input[type="submit"] {
        margin-top: 1rem;
    }

    .th, .td {
        flex-basis: 50%;
    }

    .td.cbi-value-field {
        flex-basis: 100%;
    }

    .td.cbi-value-field[data-type="dvalue"] {
        flex-basis: 50%;
    }

    .td.cbi-value-field[data-type="button"],
    .td.cbi-value-field[data-type="fvalue"] {
        flex-basis: 25%;
        text-align: left;
    }

    .tr[data-title]::before,
    .tr.cbi-section-table-titles.named::before {
        font-size: 1rem;
    }

    .hide-xs {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .cbi-value input[type="password"],
    .cbi-value input[type="text"],
    .cbi-value-field .cbi-input-select {
        width: 20rem;
    }

    .cbi-value-field .cbi-dropdown {
        min-width: 20rem;
    }
}

@media screen and (min-width: 1280px) {
    .cbi-value input[type="password"],
    .cbi-value input[type="text"],
    .cbi-value-field .cbi-input-select {
        width: 22rem;
    }

    .cbi-value-field .cbi-dropdown {
        min-width: 22rem;
    }
}

@media screen and (min-width: 1600px) {
    .cbi-value input[type="password"],
    .cbi-value input[type="text"],
    .cbi-value-field .cbi-input-select {
        width: 25rem;
    }

    .cbi-value-field .cbi-dropdown {
        min-width: 25rem;
    }
}

#cbi-system-cfg01e48a-_mediaurlbase{
	display: none;
}

.cbi-value-validationwarning{
	font-size: small;
    padding: 0.5rem 0 0 0;
	display: none;
	color: #FF0000;
}
.cbi-input-invalid + img + .cbi-value-validationwarning{
	display: block;
}

/***************************************************************/
.orange-bg{
	background-color: #db5530;
    color: #fff;
    margin-top: 15px;
    padding: 40px;
    min-height: 248px;
}
.orange-bg:after{
	content: '';
	clear: both;
	display: table;
}
.orange-bg .img-section {
    float: left;
    margin-top: 29px;
    margin-left: 18px;
}
.orange-bg .text-section {
    margin-top: 80px;
    margin-left: 242px;
    font-size: 16px;
    width: 267px;
    line-height: 1.3;
}
.red-bg{
	background-color: #be1d49;
}
.red-bg:after{
	content: '';
	clear: both;
	display: table;
}

.login-form {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    padding-top: 77px;
	padding-bottom: 47px;
}
.login-form .form-group{
	margin-bottom: 15px;
}
.login-form label{
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    width: 200px;
	display: inline-block;
	height: 46px;
	line-height: 46px;
	position: relative;
	padding-left: 56px;
	vertical-align: middle;
}
.login-form label img{
    position: absolute;
	left: 0;
	max-width: 46px;
    max-height: 46px;
}
.login-form  input[type='text'],
.login-form  input[type='email'],
.login-form  input[type='password'],
.login-form  input[type='address'],
.login-form  input[type='url']{
    height: 30px;
    width: 295px;
    border-radius: 7px;
    border: transparent;
	background-color: #fff;
	vertical-align: middle;
	padding: 0 10px;
}
.login-form .form-group.pssword_field input[type='text'],
.login-form .form-group.pssword_field input[type='email'],
.login-form .form-group.pssword_field input[type='password'],
.login-form .form-group.pssword_field input[type='address'],
.login-form .form-group.pssword_field input[type='url']{
	margin-top: 0;
	border: transparent;
}
.login-form .login-btn{
	position: absolute;
	top: -24px;
	width: 100%;
	text-align: center;
}
.btn-login{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    width: 181px;
    padding: 9px 34px 4px;
    font-size: 25px;
    border: 2px solid #613cbf !important;
    box-shadow: 0 -80px #613cbf inset;
    transition : all 0.4s;
	height: 50px !important;
	
}
.btn-login:hover{
    background-color: transparent;
	box-shadow: 0 0 0 #613cbf inset;
	color: #fff;
}
.cpy-text {
    text-align: center;
    margin-top: 13px;
    font-size: 13px;
    color: #afafaf;
    letter-spacing: 0.3px;
}

.login-form .error{
	text-align:center;
}


@media(max-width: 667px){
	.orange-bg .img-section{
		margin-left: 0;
		width: 100%;
		text-align: center;
		float: none;
	}
	.orange-bg.page2 .text-section{
		width: 100%;
		margin-left: 0;
	}
	.orange-bg .text-section{
		margin-top: 20px;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
	.login-form label{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
	.login-form input[type='text'], 
	.login-form input[type='email'], 
	.login-form input[type='password'], 
	.login-form input[type='address'], 
	.login-form input[type='url']{
		margin-left: 0;
		width: 100%;
	}
	form.login-form{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.login-form .login-btn{
		width: auto;
		left: 0;
		right: 0;
	}
	.orange-bg{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.cbi-input-invalid,
.cbi-value-error input {
	height: 2rem;
	height: calc(2rem + 1px);
	margin-bottom: -1px;
	border-width: 2px;
	color: #FF0000;
	border-color: #FF0000;
}

.cbi-users-menu > label {
    display: none;
}
.cbi-users-menu > div > div > label {
    display: block;
	height: 2rem;
    line-height: 2rem;
}
.cbi-users-menu .cbi-input-checkbox{
	margin: 0;
	height: auto;
}
