body{
	background-image: url(images/background.jpg?__TIME__);
	background-size: cover;
	background-attachment: fixed;
}
.main-section{
	/*position: absolute;*/
	display: table;
	width: 100%;
	height: 100%;
	/*width: 100vw;*/
	height: 100vh;
	max-width: 100%;
	min-height: 600px;
}
.main-section .login-section{
	display: table-cell;
	vertical-align: middle;
}
.main-section .login-section .logo{
	padding: 1rem;
}
.main-section .login-section .logo img{
	max-height: 50px;
}
.orange-bg{
	background-color: #db5530;
    color: #fff;
    margin-top: 15px;
    padding: 40px;
    min-height: 248px;
}
.orange-bg:after{
	content: '';
	clear: both;
	display: table;
}
.container-main{
	width: 660px;
	margin: 0 auto;
}
.container-main.grids-container{
	width: 1180px;
}
@media(max-width: 1200px){
	.container-main.grids-container{
		width: 100%;
	}
}
img{
	max-width: 100%;
}
.red-bg{
	background-color: #be1d49;
	position:relative;
	padding: 40px;
}
.red-bg:after{
	content: '';
	clear: both;
	display: table;
}
.login-btn{
    position: absolute;
    left: 0;
    right: 0;
    top: -26px;
	text-align:center;
}
.orange-bg .img-section {
    float: left;
    margin-top: 29px;
    margin-left: 18px;
}
.orange-bg .text-section {
    margin-top: 80px;
    margin-left: 242px;
    font-size: 16px;
    width: 267px;
    line-height: 1.3;
}
form.login-form {
    display: block;
    width: 466px;
    margin: 0 auto;
    position: relative;
    padding-top: 77px;
	padding-bottom: 47px;
}
.login-form label{
    font-weight: bold;
    color: #fff;
    font-size: 25px;
    line-height: 0.6;
    width: 179px;
}
.login-form label img{
    vertical-align: middle;
    margin-right: 13px;
}
.login-form  input[type='text'],
.login-form  input[type='email'],
.login-form  input[type='password'],
.login-form  input[type='address'],
.login-form  input[type='url']{
	margin-left: 18px;
    vertical-align: top;
    margin-top: 15px;
    height: 30px;
    width: 266px;
    border-radius: 7px;
    border: transparent;
}
.user_name.form-group img{
	vertical-align: bottom;
}
.form-group.pssword_field img{
	margin-left: 5px;
    margin-top: -6px;
}
.login-form .form-group.pssword_field input[type='text'],
.login-form .form-group.pssword_field input[type='email'],
.login-form .form-group.pssword_field input[type='password'],
.login-form .form-group.pssword_field input[type='address'],
.login-form .form-group.pssword_field input[type='url']{
	margin-top: 0;
	border: transparent;
}
.login-form .login-btn{
	position: absolute;
	top: -24px;
	width: 100%;
	text-align: center;
}
.btn-login{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    width: 180px;
    padding: 0 30px;
    font-size: 25px;
	height: 52px;
	line-height; 52px;
    border: 2px solid #613cbf;
    box-shadow: 0 -80px #613cbf inset;
    transition : all 0.4s;
}
.btn-login:hover{
	background-color: #fff;
    background-color: transparent;
	box-shadow: 0 0 0 #613cbf inset;
	color: #fff;
}
.cpy-text {
    text-align: center;
    margin-top: 13px;
    font-size: 13px;
    color: #afafaf;
    letter-spacing: 0.3px;
}
.orange-bg.page2 .text-section {
    margin-top: 39px;
    width: 313px;
}
.selectBox-dropdown-menu{
	position: absolute;
	list-style: none;
    background-color: #BE1D49;
    padding: 0;
}
.selectBox-dropdown-menu li{
	margin-bottom: 2px;
}
.selectBox-dropdown-menu a{
	color: #fff;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}
form.login-form.page-2{
	width: 85%;
	padding-top: 82px;
	min-height: 252px;
}
form.login-form.page-2:after{
	content: '';
	clear: both;
	display: table;
}
.selectBox{
	color: #fff;
	min-width: 217px;
	text-decoration: none;
    font-size: 18px;
}
.selectBox .selectBox-arrow{
	background-image: url(images/arr-down.png);
	float: right;
	width: 21px;
	height: 21px;
	background-repeat: no-repeat;
}
.login-form .select-box {
	float: left;
	width: 220px;
	text-align: center;
	color: #fff;
	margin-left:-15px;
	margin-top:-15px;
}
.selectBox:hover,
.selectBox:focus,
.selectBox:active{
	text-decoration: none;
	color: #fff;
}
.login-form .select-box p{
    margin-top: 12px;
    font-size: 14px;
}
.login-form .weather-section {
    float: left;
    width: 179px;
    color: #fff;
    margin-left: 30px;
	margin-top:-15px;

}
.login-form .weather-section .img-section {
    float: left;
    margin-right: 14px;
}
.login-form .weather-section .text-sec{

}
.login-form .weather-section .text-sec h1{
	margin-top: 13px;
	margin-bottom: 0;
}
.weather-section.time-section {
    margin-right: -10px;
    float: right;
    width: 154px;
	margin-top:-95px;
	
}
.login-form .weather-section.time-section .img-section{
	margin-top: 14px;
}



/*! gridster.js - v0.5.6 - 2014-09-25
* http://gridster.net/
* Copyright (c) 2014 ducksboard; Licensed MIT */

.gridster {
    position:relative;
}
.gridster ul .grid-inner {
	position: absolute;
	left: 8px;
	top: 8px;
	bottom: 8px;
	right: 8px;
	background-color: #2675ec;
	color: #fff;
	text-align: center;
	padding: 20px;
}
.gridster ul .grid-inner > img{
	max-width: 60%;
}
.gridster ul .grid-inner span{
	display: block;
	position: absolute;
	left: 20px;
	bottom: 10px;
	right: 20px;
	font-size: 18px;
	text-align: left;
}
.gridster ul .grid-inner.color-two{
	background-color: #613cbf;
}
.gridster ul .grid-inner.color-three{
	background-color: #db5530;
}
.gridster ul .grid-inner.color-four{
	background-color: #00a21b;
}
.gridster ul .grid-inner.color-five{
	background-color: #be1d49;
}
.gridster ul .grid-inner.color-six{
	background-color: #a5a526;
}
.gridster ul .grid-inner.color-seven{
	background-color: #db5530;
}
.gridster ul .grid-inner.small-grid {
    padding-top: 15px;
}
.gridster ul .grid-inner .grip-text{
	position: absolute;
	bottom: 0;
	font-size: 18px;
	left: 20px;
}
.gridster ul{
	list-style: none;
}
.gridster ul li{
	position: relative;
	/* padding: 8px; */
}
.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s, width .4s;
    -moz-transition: height .4s, width .4s;
    -o-transition: height .4s, width .4s;
    -ms-transition: height .4s, width .4s;
    transition: height .4s, width .4s;
}

.gridster .gs-w {
    z-index: 2;
    position: absolute;
}

.ready .gs-w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}

.ready .gs-w:not(.preview-holder),
.ready .resize-preview-holder {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}

.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition:  left .3s, top .3s!important;
}

.gridster .dragging,
.gridster .resizing {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}


.gs-resize-handle {
    position: absolute;
    z-index: 1;
}

.gs-resize-handle-both {
    width: 20px;
    height: 20px;
    bottom: -8px;
    right: -8px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
    background-position: top left;
    background-repeat: no-repeat;
    cursor: se-resize;
    z-index: 20;
}

.gs-resize-handle-x {
    top: 0;
    bottom: 13px;
    right: -5px;
    width: 10px;
    cursor: e-resize;
}

.gs-resize-handle-y {
    left: 0;
    right: 13px;
    bottom: -5px;
    height: 10px;
    cursor: s-resize;
}

.gs-w:hover .gs-resize-handle,
.resizing .gs-resize-handle {
    opacity: 1;
}

.gs-resize-handle,
.gs-w.dragging .gs-resize-handle {
    opacity: 0;
}

.gs-resize-disabled .gs-resize-handle {
    display: none!important;
}

[data-max-sizex="1"] .gs-resize-handle-x,
[data-max-sizey="1"] .gs-resize-handle-y,
[data-max-sizey="1"][data-max-sizex="1"] .gs-resize-handle {
    display: none !important;
}

/* Uncomment this if you set helper : "clone" in draggable options */
/*.gridster .player {
  opacity:0;
}
*/

.search-form input[type='image'],
.search-form input[type='buttom'],
.search-form input[type='submit']{
	vertical-align: middle;
	margin-right: 10px;
}
.search-form input[type='text'],
.search-form input[type='email'],
.search-form input[type='number']{
	border-radius: 5px;
	border: none;
	height: 36px;
}




@media(max-width: 991px){
	.container-main{
		width: 90%;
	}
	form.login-form.page-2{
		width: 95%;
	}
}
@media(max-width: 776px){
	.login-form .select-box{
		width: 100%;
	}
	.login-form .weather-section{
		margin-left: 0;
		margin-top: 20px;
	}
}
@media(max-width: 667px){
	.orange-bg .img-section{
		margin-left: 0;
		width: 100%;
		text-align: center;
		float: none;
	}
	.orange-bg.page2 .text-section{
		width: 100%;
		margin-left: 0;
	}
	.orange-bg .text-section{
		margin-top: 20px;
		margin-left: 0;
		text-align: center;
		width: 100%;
	}
	.login-form label{
		display: block;
		width: 100%;
	}
	.login-form input[type='text'], 
	.login-form input[type='email'], 
	.login-form input[type='password'], 
	.login-form input[type='address'], 
	.login-form input[type='url']{
		margin-left: 0;
		width: 100%;
	}
	form.login-form{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.login-form .login-btn{
		width: auto;
		left: 0;
		right: 0;
	}
	.login-form label img{
		height: 28px;
	}
	.login-form label{
		font-size: 17px;
	}
	.orange-bg{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media(max-width: 450px){
	.login-form .weather-section{
		width: 100%;
	}
}
