header {
    background: #fff;
    color: #555;
}
header > .container > .pull-right {
    background-color: white;
    position: relative;
    padding-left: 1rem;
}

footer {
    font-size: 1rem;
    color: #000;
}

.login-container .logo {
	text-align: center;
}